# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
venv/
.venv/
env/
.env
.env.*

# VS Code
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# FastAPI / app
*.sqlite3
*.db

# Coverage / test output
.pytest_cache/
htmlcov/
.coverage
.coverage.*

# Build artifacts
build/
dist/
*.egg-info/
